extends layout

block content
  link(rel='stylesheet', href='/simditor-2.3.8/simditor.css')
  script(type='text/javascript', src='/simditor-2.3.8/jquery.min.js')
  script(type='text/javascript', src='/simditor-2.3.8/module.js')
  script(type='text/javascript', src='/simditor-2.3.8/hotkeys.js')
  script(type='text/javascript', src='/simditor-2.3.8/uploader.js')
  script(type='text/javascript', src='/simditor-2.3.8/simditor.js')
  div#content.content
  script(type='text/javascript', src='/javascripts/community.js')
