doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://libs.baidu.com/jquery/2.0.0/jquery.js')
  body
    header.header
    block content
    footer.footer
