
doctype html
html
  head
    title登录/注册
  link(rel='stylesheet', href='/stylesheets/login.css')
  body
    div.index-login
      div.index-login-body
        div.index-login-header
          h1蛙鸣社区
          h2有话你就说！说错话不要钱的亲民社区！
          div.index-login-box
            div.index-login-tabs
              a.active登录
              a注册
            div.index-login-login
              div.input-cell-group
                input.input-cell
                input.input-cell
              div.index-login-button登录
