
doctype html
html
  head
    title 登录/注册
  link(rel='stylesheet', href='/stylesheets/login.css')
  script(type='text/javascript', src='/simditor-2.3.8/jquery.min.js')
  script(type='text/javascript', src='/login/login.js')
  body
    div.index-login
      canvas#canvas
      div.index-login-body
        div.index-login-header
          h1 蛙鸣社区
          h2 有话你就说！说错话不要钱的亲民社区！
          div.index-login-box
            div.index-login-tabs
              span.login-btn#registerBtn 注册
              a.separate
              span.login-btn#loginBtn.active-btn 登录
            div#index-login-login
              div.input-cell-group
                input#login-tel.input-cell(type='tel', placeholder='手机号')
                p#login-tel-error 
                input#login-pwd.input-cell(type='password', placeholder='密码')
                p#login-pwd-error 
              div#index-login-button.submit-btn 登录

            div#index-login-register
              div.input-cell-group
                input#register-name.input-cell(placeholder = '姓名')
                p#register-name-error 
                input#register-tel.input-cell(placeholder = '手机号')
                p#register-tel-error
                input#register-pwd.input-cell(type = 'password',placeholder = '密码(不少于8位)')
                p#register-pwd-error
              div#index-register-button.submit-btn 注册
