
doctype html
html
  head
    title 登录/注册
  link(rel='stylesheet', href='/stylesheets/login.css')
  script(type='text/javascript', src='/simditor-2.3.8/jquery.min.js')
  script(type='text/javascript', src='/login/login.js')
  body
    div.index-login
      div.index-login-body
        div.index-login-header
          h1 蛙鸣社区
          h2 有话你就说！说错话不要钱的亲民社区！
          div.index-login-box
            div.index-login-tabs
              a.active 登录
              a 注册
            div.index-login-login
              div.input-cell-group
                input.input-cell(type='text', placeholder='请输入手机号码')
                input.input-cell(type='password', placeholder='请输入密码')
              div#index-login-button 登录
