extends layout

block content
  script(type='text/javascript', src='/simditor-2.3.8/jquery.min.js')
  div.header
  div#content.content
  div.footer
  script(type='text/javascript', src='/javascripts/todo.js')
