/* clear */
body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd, div {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: max-content;
}

ul {
  list-style: none;
}

img {
  border-style: none;
}

input {
  outline: none;
  background-color: #fff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
}

input:focus {
  border: 1px solid #38a0e2;
  box-shadow: 0 0 4px 0 rgba(56,160,226,0.60), inset 0 1px 3px 0 rgba(0,0,0,0.10);
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100vw;
  height: 45px;
  background-color: #293337;
}

.content {
  width: 940px;
}

.footer {
  /*font-size: 14px;
  color: #aaa;*/
  margin-top: 30px;
}


/* 页面通用 */
.page {
  width: 940px;
  padding-top: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-title {
  font-size: 32px;
  color: #323232;
}

.page-left {

}

.page-right {

}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #999;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #999;
}


/* 首页 */
.undone-list {
  margin-top: 18px;
}

.completed-list {
  margin-top: 20px;
}

.todo-list {

}

.todo-interval {
  width: 81px;
  height: 16px;
  background-image: url(/images/todo_interval.png);
  background-size: 81px 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 18px;
}

.clear-completed {
  cursor: pointer;
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
}

.todo-item {
  display: flex;
  flex-direction: row;
  width: 505px;
  height: 50px;
  background-color: #fff;
  margin-bottom: 2px;
}

.item-icon-undone {
  width: 48px;
  height: 50px;
  border-right: 5px solid #0194c4;
  cursor: pointer;
  background-image: url(/images/todo_status_undone.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.item-icon-completed {
  width: 48px;
  height: 50px;
  border-right: 5px solid #dbdbdb;
  cursor: pointer;
  background-image: url(/images/todo_status_completed.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.item-text-undone {
  width: 452px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  color: #5d5d5d;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-text-completed {
  width: 452px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  color: #dbdbdb;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: line-through;
}

.add-todo {
  width: 322px;
  background-color: #fff;
  padding: 20px;
  margin-top: 40px;
}

.add-title {
  font-size: 20px;
  color: #333;
}

.add-input {
  width: 298px;
  height: 38px;
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.add-button {
  margin-top: 10px;
  width: 56px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
