.header {
  width: 100vw;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  flex-direction: row;
  justify-content: center;;

  .body {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
  }

  .logo {
    width: 96px;
    height: 24px;
    background-image: url(/images/community/header_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96px 24px;
    margin-right: 26px;
    cursor: pointer;
  }

  .group {
    flex: 1;

    .home {
      width: 60px;
      height: 59px;
      border-bottom: 2px solid #4a90e2;
      line-height: 59px;
      text-align: center;
      font-size: 16px;
      color: #555;
      cursor: pointer;
    }
  }

  .write {
    width: 114px;
    height: 36px;
    background-image: url(/images/community/header_write.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 114px 36px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration:none;

    .icon {
      width: 16px;
      height: 16px;
      background-image: url(/images/community/header_write_icon.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      margin-right: 9px;

    }

    span {
      font-size: 16px;
      color: #fff;
    }
  }

  .user {
    display: flex;
    flex-direction: row;

    .logon {
      font-size: 16px;
      color: #555;
      margin-right: 30px;
    }

    .register {
      font-size: 16px;
      color: #555;
    }
  }

}
