.home-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .recent {
    width: 640px;
    padding-top: 10px;
    padding-bottom: 60px;

    .item {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #f0f0f0;

      .user {
        display: flex;
        flex-direction: row;
        align-items: center;

        .head {
          width: 32px;
          height: 32px;
          margin-right: 10px;
        }

        .name {
          font-size: 12px;
          color: #555;
          margin-right: 10px;
        }

        .time {
          font-size: 12px;
          color: #bbb;
        }
      }

      .article {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .title {
        max-width: 450px;
        height: 25px;
        margin-top: 6px;
        margin-bottom: 6px;
        font-size: 18px;
        color: #555;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .content {
        width: 420px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        font-size: 12px;
        color: #555;
        line-height: 22px;

        p {
          width: 420px;
        }
      }

      .banner {
        width: 176px;
        height: 92px;
        margin-top: 6px;
      }
    }

    .item:last-child {
      // border-bottom: 0px;
    }

    .load {
      width: 640px;
      height: 50px;
      border: 1px solid #f0f0f0;
      margin-top: 30px;
      font-size: 16px;
      color: #bbb;
      line-height: 50px;
      text-align: center;
    }

    .load:hover {
      color: #4a90e2;
    }
  }

  .hot {
    width: 320px;

    .title {
      width: 100%;
      height: 54px;
      border-top: 2px solid #4a90e2;
      border-bottom: 1px dashed #f0f0f0;
      font-size: 14px;
      color: #555;
      line-height: 54px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 26px;
    }

    .item-top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      width: 320px;
      height: 168px;
      background-image: url();
      background-position: center;
      background-repeat: no-repeat;
      background-size: 320px 168px;
      border-radius: 4px;
      margin-bottom: 20px;

      .ranking {
        width: 38px;
        height: 20px;
        margin-left: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 38px 20px;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .font10 {
          -webkit-transfrom: originX(0);
          -webkit-transform: scale(0.72);
          margin-top: -2px;
        }
      }

      .blocked {
        width: 288px;
        height: 30px;
        background-color: rgba(0,0,0,0.4);
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        line-height: 16px;
        font-size: 12px;
        color: #fff;
      }
    }

    .item {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      .banner {
        width: 112px;
        height: 60px;
        margin-right: 10px;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 196px;
        font-size: 12px;
        color: #555;
        line-height: 16px;
      }

      .time {
        font-size: 12px;
        color: #bbb;
      }
    }

    .advert {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .img {
        width: 320px;
        height: 220px;
        cursor: pointer;
      }

      .text {
        width: 34px;
        height: 16px;
        background-color: rgba(0,0,0,0.3);
        font-size: 12px;
        color: #fff;
        text-align: center;
        line-height: 16px;
        cursor: default;
      }
    }
  }
}
