body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd, div {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: max-content;
}

ul {
  list-style: none;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar
{
	width: 6px;
  height: 6px;
	background-color: #9b9b9b;
	padding: 2px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
	background-color: #fafafa;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	background-color: #bbb;
}

@import './head';
@import './foot';
@import './container';
@import './addArticle';
@import './showArticle';
@import './personalPage';
@import './settingPage';
@import './home';
@import './toast.scss';
