body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd, div {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: max-content;
}

ul {
  list-style: none;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

@import './head';
@import './foot';
@import './container';
@import './addArticle';
@import './showArticle';
@import './personalPage';
@import './settingPage';
