
.setting-page {
	width: 1000px;
	margin: 0 auto;

	.setting-page-div {
		margin-top: 15px;
	}

	.setting-input {
		width: 180px;
		padding: 8px 10px;
		margin-left: 10px;
	}

	.setting-image {
		margin-left: 10px;
	}

	.setting-page-btn {
		padding: 8px 10px;
		background-color: #0865c2;
		color: #fff;
		border-radius: 3px;
		margin-top: 20px;
	}
}